<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rousah.bascula">

    <!--<uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature android:name="android.hardware.fingerprint"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".BorrarUsuarioActivity"
            android:label="Borrar usuario ..." />
        <activity android:name=".PreferenciasActivity"
            android:label="Preferencias ..."/>
        <activity android:name=".AcercaDeActivity"
            android:label="Acerca de ..."/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Fingerprint">

        </activity>
        <activity
            android:name=".CrearPerfil">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RemoveRemoteCheckActivity">
        </activity>

        <activity
            android:name=".UsuariosRemotosActivity"
            android:label="Usuarios Remotos">
        </activity>

        <activity
            android:name=".UsuarioRemotoActivity"
            android:label="Usuario Remoto">
        </activity>

        <activity
            android:name=".DoneActivity"
            android:label="Hecho">
        </activity>

        <activity
            android:name=".RegistroUsuarioRemotoActivity"
            android:label="Registro Usuario Remoto">
        </activity>

        <activity android:name=".DatosDiaCalendario">
        </activity>

    </application>

</manifest>


